.site-footer {
  margin-top: auto;
  border-top: 2px solid black; 
  ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
  
#footer-navigation a {
  text-decoration: none;
  font-weight: 400; 
  margin: 0 50px;
  color: black;   
  &:hover {
    font-weight: bold;
  }
}

/********** MEDIA QUERIES **********/

@media screen and (max-width: 768px) {
  .site-footer{
    ul{
      flex-direction: column;
      padding: 0;
    }
  }
  #footer-navigation a {
    margin: 0 0 50px 0;
  }
}