.site-header {
  min-height: 80px;
  background-color: white;
}
.site-header .header-container {
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
}
.site-header .header-container .site-branding {
  display: flex;
  align-items: center;
}
.site-header .header-container .site-branding img {
  width: 75%;
  height: auto;
}
.site-header .header-container .main-navigation {
  display: flex;
  align-items: center;
  text-align: center;
}
.site-header .header-container .main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.site-header .header-container .main-navigation ul li {
  margin-left: 50px;
}
.site-header .header-container .main-navigation ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.site-header .header-container .main-navigation ul li a:hover {
  font-weight: bold;
}

.sidenav {
  display: none;
}

/*****************************************************************************************/
/***************                       MODAL                         *********************/
/*****************************************************************************************/
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  /* Modal Content/Box */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid #888;
  width: 33.3%;
  /* Form */
}
.modal .modal-content img {
  width: 100%;
}
.modal .modal-content .wpcf7 {
  width: 50%;
  margin: auto;
  padding-top: 5%;
  /* Button */
}
.modal .modal-content .wpcf7 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .modal-content .wpcf7 .wpcf7-form-control-wrap.custom-size {
  position: relative;
}
.modal .modal-content .wpcf7 .wpcf7-form-control.custom-size {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal .modal-content .wpcf7 .wpcf7-form-control-wrap.custom-sizeM {
  position: relative;
}
.modal .modal-content .wpcf7 .wpcf7-form-control.custom-sizeM {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal .modal-content .wpcf7 .wpcf7-submit {
  width: 100%;
  height: 4em;
  border: none;
  background-color: #d8d8d8;
  border-radius: 2px;
  text-align: center;
  font-family: "Space Mono", sans-serif;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.modal .modal-content .wpcf7 .wpcf7-submit:hover {
  color: white;
  background-color: black;
}
.modal .modal-content .wpcf7 p {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 1023px) {
  #site-navigation {
    display: none;
  }
  header div {
    display: flex;
  }
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: transform 0.3s;
  }
  .burger-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .burger-icon.active span:nth-child(2) {
    opacity: 0;
  }
  .burger-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .navigation-right {
    justify-content: center;
    align-items: center;
  }
  .sidenav {
    visibility: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 80px;
    right: 0;
    background-color: red;
    overflow: hidden;
    transition: width 0.5s ease;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidenav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
  }
  .sidenav ul li {
    margin-bottom: 3em;
  }
  .sidenav ul a {
    text-decoration: none;
    font-size: 4em;
    color: white;
  }
  #mySidenav.active {
    width: 100%;
  }
  .modal .modal-content {
    width: 50%;
  }
  .modal .modal-content .wpcf7 {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal-content {
    width: 80%;
  }
  .modal .modal-content .wpcf7 {
    width: 80%;
  }
  .sidenav ul a {
    font-size: 3em;
  }
}
@media screen and (max-width: 425px) {
  .sidenav ul a {
    font-size: 2em;
  }
}
@media screen and (max-width: 375px) {
  .burger-icon span {
    width: 25px;
    height: 3px;
  }
  .burger-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  .burger-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -6px);
  }
}
@media screen and (max-width: 320px) {
  .sidenav ul a {
    font-size: 1em;
  }
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Regular.woff2") format("woff2"), url("../assets/fonts/SpaceMono-Bold.woff2") format("woff2"), url("../assets/fonts/SpaceMono-Italic.woff2") format("woff2"), url("../assets/fonts/SpaceMono-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff2") format(woff2);
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Space Mono", sans-serif;
  margin: 0 auto;
}

/********************************************/
/*****             HERO HEADER          *****/
/********************************************/
#hero-header {
  max-width: 100%;
}
#hero-header .hero-container {
  width: 100%;
  height: 70vh;
  position: relative;
}
#hero-header .hero-container h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 96px;
  font: "Space Mono";
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 0.1px white;
  -webkit-background-clip: text;
          background-clip: text;
}
#hero-header .hero-container .hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

/********************************************/
/*****           PHOTO CATALOG          *****/
/********************************************/
#photo-catalog {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}
#photo-catalog .row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
#photo-catalog .cta-loadMore {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#photo-catalog .cta-loadMore .cta {
  display: block;
  width: 15%;
  height: 50px;
  color: black;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  font-family: "Space Mono";
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
#photo-catalog .cta-loadMore .cta:hover {
  color: white;
  background-color: black;
}
#photo-catalog p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 1024px) {
  #hero-header .hero-container h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 768px) {
  #hero-header .hero-container h1 {
    text-align: center;
  }
  #photo-catalog .cta-loadMore .cta {
    width: 35%;
  }
}
@media screen and (max-width: 425px) {
  #hero-header .hero-container h1 {
    font-size: 3em;
  }
  #photo-catalog .cta-loadMore .cta {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  #hero-header .hero-container h1 {
    font-size: 2.5em;
  }
}
.site-footer {
  margin-top: auto;
  border-top: 2px solid black;
}
.site-footer ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

#footer-navigation a {
  text-decoration: none;
  font-weight: 400;
  margin: 0 50px;
  color: black;
}
#footer-navigation a:hover {
  font-weight: bold;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 768px) {
  .site-footer ul {
    flex-direction: column;
    padding: 0;
  }
  #footer-navigation a {
    margin: 0 0 50px 0;
  }
}
main {
  max-width: 1440px;
  margin: 0 auto;
}

/*******************************************************/
/********               ARTICLE             ************/
/*******************************************************/
.post-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.post-content .post-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-right: 5px;
}
.post-content .post-info .post-title {
  width: 420px;
  font-style: italic;
  font-size: 66px;
  font-weight: 400;
  line-height: 58px;
  margin: 0 0 40px 0;
}
.post-content .post-info p, .post-content .post-info a {
  text-decoration: none;
  color: black;
  margin: 0 0 20px 0;
}
.post-content .post-info,
.post-content .post-image {
  width: calc(50% - 5px);
  box-sizing: border-box;
}
.post-content .post-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.post-content .post-image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-content .post-image .photo-overlay .eye-a,
.post-content .post-image .hover-info {
  display: none;
}
.post-content .post-image .photo-overlay {
  background-color: transparent;
}

/*******************************************************/
/********         INTERESTED SECTION        ************/
/*******************************************************/
.interested-section {
  height: 118px;
  border-bottom: 1px solid black;
}
.interested-section .interested {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.interested-section .interested .interested_contact,
.interested-section .interested .interested-image {
  display: flex;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.interested-section .interested .interested_contact {
  align-items: center;
}
.interested-section .interested .interested_contact p {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.interested-section .interested .interested_contact .interested-btn {
  margin-left: auto;
}
.interested-section .interested .interested_contact .interested-btn button {
  width: 272px;
  height: 50px;
  padding: 10px 20px;
  background-color: #d8d8d8;
  color: black;
  border: none;
  font-family: "Space Mono", sans-serif;
  cursor: pointer;
}
.interested-section .interested .interested-image {
  justify-content: flex-end;
}
.interested-section .interested .interested-image .container-thumbnail {
  width: 81px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-content: space-between;
  position: relative;
}
.interested-section .interested .interested-image .container-thumbnail .prev-img,
.interested-section .interested .interested-image .container-thumbnail .next-img {
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 81px;
  height: 81px;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 0;
}
.interested-section .interested .interested-image .container-thumbnail .prev-img img,
.interested-section .interested .interested-image .container-thumbnail .next-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.interested-section .interested .interested-image .container-thumbnail .previous:hover .prev-img {
  opacity: 1;
}
.interested-section .interested .interested-image .container-thumbnail .next:hover .next-img {
  opacity: 1;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 1440px) {
  .post-content,
  .interested-section {
    margin: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .interested-section .interested .interested_contact {
    align-items: center;
  }
  .interested-section .interested .interested_contact p {
    margin-bottom: 10px;
  }
  .interested-section .interested .interested_contact .interested-btn button {
    width: 150px;
  }
}
@media screen and (max-width: 425px) {
  .post-content {
    flex-direction: column;
  }
  .post-content .post-image {
    order: 1;
    margin: 0 0 3vh 0;
  }
  .post-content .post-info {
    order: 2;
    margin-right: 0;
    padding-bottom: 3vh;
  }
  .post-content .post-info .post-title {
    width: 260px;
    font-size: 46px;
  }
  .post-content .post-info p, .post-content .post-info a {
    font-size: 15px;
    margin: 0 0 10px 0;
  }
  .post-content .post-info,
  .post-content .post-image {
    width: 100%;
  }
  .interested-section {
    padding: 3vh 0;
    height: 118px;
  }
  .interested-section .interested {
    flex-direction: column;
  }
  .interested-section .interested .interested_contact,
  .interested-section .interested .interested-image {
    flex-direction: column;
    width: 100%;
  }
  .interested-section .interested .interested_contact .interested-btn {
    margin-left: 0;
  }
  .interested-section .interested .interested_contact .interested-btn button {
    width: 272px;
    height: 50px;
    padding: 10px 20px;
  }
  .interested-section .interested .interested-image {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .interested-section .interested .interested_contact p {
    font-size: 12px;
  }
  .interested-section .interested .interested_contact .interested-btn button {
    width: 200px;
  }
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lightbox .lightbox_close {
  background: url(../assets/images/Vector.png) center center/22px 22px transparent no-repeat;
  position: absolute;
  text-indent: -9999px;
  overflow: hidden;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  border: none;
  color: white;
  cursor: pointer;
}
.lightbox .lightbox_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.lightbox .lightbox_container .lightbox_prev,
.lightbox .lightbox_container .lightbox_next {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 50px;
  display: flex;
  align-items: center;
}
.lightbox .lightbox_container .lightbox_prev span,
.lightbox .lightbox_container .lightbox_next span {
  color: white;
  padding: 0 10px;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
}
.lightbox .lightbox_container .lightbox_prev img,
.lightbox .lightbox_container .lightbox_next img {
  width: 30px;
  height: 15px;
}
.lightbox .lightbox_container .img-container {
  max-width: 100%;
  max-height: 100vh;
}
.lightbox .lightbox_container .img-container .lightbox_img {
  width: 100%;
  height: 90vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox .lightbox_container .img-container .lightbox_info {
  display: flex !important;
  color: white;
  justify-content: space-between;
}
.lightbox .lightbox_container .img-container .lightbox_info .lightbox_ref,
.lightbox .lightbox_container .img-container .lightbox_info .lightbox_cat {
  text-transform: uppercase;
}

.lightbox-scroll-lock {
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.hidden:hover {
  opacity: 1;
}

.lightbox_prev,
.lightbox_next {
  transition: opacity 0.3s ease-in-out;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 768px) {
  .lightbox .lightbox_close {
    width: 22px;
    height: 22px;
  }
  .lightbox .lightbox_container {
    width: 100%;
    height: 100vh;
  }
  .lightbox .lightbox_container .lightbox_prev,
  .lightbox .lightbox_container .lightbox_next {
    margin: 0 10px;
  }
  .lightbox .lightbox_container .lightbox_prev span,
  .lightbox .lightbox_container .lightbox_next span {
    display: none;
  }
  .lightbox .lightbox_container .img-container {
    display: flex;
    flex-direction: column;
  }
  .lightbox .lightbox_container .img-container .lightbox_img {
    margin: 0 auto;
    width: 100%;
    height: 90vh;
  }
  .lightbox .lightbox_container .img-container .lightbox_info {
    margin: 0 auto;
    width: 80%;
  }
  .lightbox .lightbox_container .img-container .lightbox_info .lightbox_ref,
  .lightbox .lightbox_container .img-container .lightbox_info .lightbox_cat {
    font-size: 1em;
  }
}
@media screen and (max-width: 425px) {
  .lightbox .lightbox_close {
    width: 22px;
    height: 22px;
  }
  .lightbox .lightbox_container {
    width: 100%;
    height: 100vh;
  }
  .lightbox .lightbox_container .lightbox_prev,
  .lightbox .lightbox_container .lightbox_next {
    margin: 0 0px;
  }
  .lightbox .lightbox_container .lightbox_prev img,
  .lightbox .lightbox_container .lightbox_next img {
    width: 20px;
    height: 15px;
  }
  .lightbox .lightbox_container .img-container .lightbox_info .lightbox_ref,
  .lightbox .lightbox_container .img-container .lightbox_info .lightbox_cat {
    font-size: 0.7em;
  }
}
.photo-overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.photo-overlay:hover {
  opacity: 1;
}
.photo-overlay .fullscreen-icon {
  position: absolute;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 11px;
  right: 18px;
  cursor: pointer;
}
.photo-overlay .fullscreen-icon .fullscreen-img {
  width: 100%;
  height: auto;
}
.photo-overlay .eye-a {
  position: absolute;
  margin: auto;
  width: 45px;
  height: 31px;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.photo-overlay .hover-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0;
  position: relative;
  height: 100%;
}
.photo-overlay .hover-info .hover-title, .photo-overlay .hover-info .hover-cat {
  color: white;
  margin-bottom: 2%;
}
.photo-overlay .hover-info .hover-title {
  margin-left: 2%;
}
.photo-overlay .hover-info .hover-cat {
  margin-right: 2%;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 768px) {
  .photo-overlay {
    opacity: 1;
    background-color: transparent;
  }
  .photo-overlay .fullscreen-icon {
    width: 34px;
    height: 34px;
  }
  .photo-overlay .eye-a {
    width: 45px;
    height: 31px;
  }
  .photo-overlay .hover-info .hover-title, .photo-overlay .hover-info .hover-cat {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .photo-overlay .hover-info .hover-title, .photo-overlay .hover-info .hover-cat {
    font-size: 10px;
  }
}
.alsolike-section {
  padding: 3vh 0;
}
.alsolike-section h2 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 3vh;
}
.alsolike-section .related-photo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.alsolike-section .related-photo .relatedPhoto-container {
  width: calc(50% - 10px);
  height: 60vh;
  max-height: 500px;
  position: relative;
}
.alsolike-section .related-photo .relatedPhoto-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta-AllPhotos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.cta-AllPhotos .cta {
  width: 15%;
  height: 50px;
  color: black;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  font-family: "Space Mono";
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.cta-AllPhotos .cta:hover {
  color: white;
  background-color: black;
}
.cta-AllPhotos .hidden {
  display: none;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 1440px) {
  .alsolike-section {
    margin: 0 40px;
  }
}
@media screen and (max-width: 1024px) {
  .alsolike-section .related-photo .relatedPhoto-container {
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .alsolike-section .related-photo .relatedPhoto-container {
    height: 40vh;
  }
  .cta-AllPhotos .cta {
    width: 25%;
  }
}
@media screen and (max-width: 425px) {
  .alsolike-section {
    text-align: center;
  }
  .alsolike-section h2 {
    font-size: 15;
  }
  .alsolike-section .related-photo .relatedPhoto-container {
    width: 100%;
    height: 40vh;
  }
  .cta-AllPhotos {
    margin-bottom: 0px;
    margin-top: 3vh;
  }
  .cta-AllPhotos .cta {
    width: 45%;
    font-size: 12px;
  }
}
.card-img {
  width: calc(50% - 10px);
  height: 50vh;
  max-height: 500px;
  position: relative;
}
.card-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 768px) {
  .card-img {
    height: 40vh;
  }
}
@media screen and (max-width: 425px) {
  .card-img {
    width: 100%;
    height: 40vh;
  }
}
@media screen and (max-width: 375px) {
  .card-img {
    height: 30vh;
  }
}
.filters {
  display: flex;
  margin-top: 5vh;
  justify-content: space-between;
  /* #reset-filters {
      display: none; // Bring into display: block if customer want to enable the reset button.
      width: 200px;
      height: 50px;
      color: black;
      background-color: #D8D8D8;
      border: none;
      border-radius: 2px;
      font-family: 'Space Mono';
      cursor: pointer;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
      &:hover {
          color: white;
          background-color: black;
      }
  }*/
}
.filters * {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.filters .swiper-container {
  width: 100%;
  max-width: 1440px;
  z-index: 99;
}
.filters .swiper-container .swiper-wrapper {
  width: 100%;
  justify-content: space-between;
}
.filters .swiper-container .swiper-wrapper .swiper-slide {
  width: 220px;
}
.filters .swiper-container .swiper-wrapper .swiper-slide:last-of-type {
  margin-left: 245px;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select select {
  display: none; /* Hide original SELECT element */
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-selected {
  background-color: white;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 10px;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-items div {
  color: black;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid transparent;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-items div:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-items div:hover, .filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-items div.same-as-selected {
  background-color: #ffd6d6;
}
.filters .swiper-container .swiper-wrapper .swiper-slide .custom-select .select-hide {
  display: none;
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 1024px) {
  .filters .swiper-container .swiper-wrapper .swiper-slide:last-of-type {
    margin-left: 0px;
  }
}
@media screen and (max-width: 425px) {
  .filters .swiper-container {
    width: 100%;
  }
  .filters .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  .filters .swiper-container .swiper-wrapper .swiper-slide .custom-select {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */