/* _header.scss */
.site-header {
  min-height: 80px;
  background-color: white;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.site-header .site-branding {
  display: flex;
  align-items: center;
}
.site-header .site-branding img {
  width: 75%;
  height: auto;
  margin-left: 3em;
}
.site-header .site-branding .site-title {
  margin: 0;
}
.site-header .main-navigation {
  display: flex;
  margin-right: 50px;
  align-items: center;
  text-align: center;
}
.site-header .main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.site-header .main-navigation ul li {
  margin-right: 2em;
}
.site-header .main-navigation ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.site-header .main-navigation ul li a:hover {
  font-weight: bold;
}

.sidenav {
  display: none;
}

/*****************************************************************************************/
/***************                       MODAL                         *********************/
/*****************************************************************************************/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  /* Modal Content/Box */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid #888;
  width: 33.3%;
  /* Style pour centrer le formulaire */
}
.modal .modal-content img {
  width: 100%;
}
.modal .modal-content .wpcf7 {
  width: 50%;
  margin: auto;
  padding-top: 5%;
  /* Style pour le bouton d'envoi */
}
.modal .modal-content .wpcf7 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .modal-content .wpcf7 .wpcf7-form-control-wrap.custom-size {
  position: relative;
}
.modal .modal-content .wpcf7 .wpcf7-form-control.custom-size {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal .modal-content .wpcf7 .wpcf7-form-control-wrap.custom-sizeM {
  position: relative;
}
.modal .modal-content .wpcf7 .wpcf7-form-control.custom-sizeM {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal .modal-content .wpcf7 .wpcf7-submit {
  width: 100%;
  height: 4em;
  border: none;
  background-color: #d8d8d8;
  border-radius: 2px;
  text-align: center;
}
.modal .modal-content .wpcf7 p {
  width: 100%;
}

/*****************************************************************************************/
/***************                 MEDIA QUERIES                       *********************/
/*****************************************************************************************/
@media screen and (max-width: 1023px) {
  #site-navigation {
    display: none; /* Masquer le menu normal */
  }
  header div {
    display: flex;
  }
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: transform 0.3s;
  }
  .burger-icon.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .burger-icon.active span:nth-child(2) {
    opacity: 0;
  }
  .burger-icon.active span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .navigation-right {
    margin-right: 3em;
  }
  .sidenav {
    visibility: hidden;
    height: 100%;
    width: 100%;
    max-width: 0%;
    position: fixed;
    z-index: 1;
    top: 125px;
    right: 0;
    background-color: red;
    overflow-x: 0;
    transition: max-width 0.5s ease;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidenav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
  }
  .sidenav ul li {
    margin-bottom: 3em;
  }
  .sidenav ul a {
    text-decoration: none;
    font-size: 4em;
    color: white;
  }
  #mySidenav.active {
    max-width: 100%;
  }
  .modal .modal-content {
    width: 50%;
  }
  .modal .modal-content .wpcf7 {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal-content {
    width: 80%;
  }
  .modal .modal-content .wpcf7 {
    width: 80%;
  }
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/SpaceMono-Regular.woff2") format("woff2"), url("../assets/fonts/SpaceMono-Bold.woff2") format("woff2"), url("../assets/fonts/SpaceMono-Italic.woff2") format("woff2"), url("../assets/fonts/SpaceMono-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  font-family: "Space Mono", sans-serif;
}

/* Style du footer */
.site-footer {
  margin-top: auto;
  border-top: 2px solid black;
}
.site-footer ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

#footer-navigation a {
  text-decoration: none;
  font-weight: 400;
  margin: 0 50px;
  color: black;
}
#footer-navigation a:hover {
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .site-footer ul {
    flex-direction: column;
    padding: 0;
  }
  #footer-navigation a {
    margin: 0 0 50px 0;
  }
}
main {
  max-width: 1250px;
  margin: 0 auto;
}

/*******************************************************/
/********               ARTICLE             ************/
/*******************************************************/
.post-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.post-content .post-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-right: 5px;
}
.post-content .post-info .post-title {
  width: 420px;
  font-style: italic;
  font-size: 66px;
  font-weight: 400;
  line-height: 58px;
  margin: 0 0 20px 0;
}
.post-content .post-info p, .post-content .post-info a {
  text-decoration: none;
  color: black;
  margin: 0 0 20px 0;
}
.post-content .post-info,
.post-content .post-image {
  width: calc(50% - 5px);
  box-sizing: border-box;
}
.post-content .post-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.post-content .post-image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-content .post-image .photo-overlay .eye-a,
.post-content .post-image .hover-info {
  display: none;
}
.post-content .post-image .photo-overlay {
  background-color: transparent;
}

/*******************************************************/
/********         INTERESTED SECTION        ************/
/*******************************************************/
.interested-section {
  height: 118px;
  border-bottom: 1px solid black;
}
.interested-section .interested {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.interested-section .interested .interested_contact,
.interested-section .interested .interested-image {
  display: flex;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.interested-section .interested .interested_contact {
  align-items: center;
}
.interested-section .interested .interested_contact p {
  margin-bottom: 10px;
}
.interested-section .interested .interested_contact .interested-btn {
  margin-left: auto;
}
.interested-section .interested .interested_contact .interested-btn button {
  width: 272px;
  height: 50px;
  padding: 10px 20px;
  background-color: #d8d8d8;
  color: black;
  border: none;
  cursor: pointer;
}
.interested-section .interested .interested-image {
  justify-content: flex-end;
}
.interested-section .interested .interested-image .container-thumbnail {
  width: 81px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-content: space-between;
  position: relative;
}
.interested-section .interested .interested-image .container-thumbnail .prev-img,
.interested-section .interested .interested-image .container-thumbnail .next-img {
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 81px;
  height: 81px;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 0;
}
.interested-section .interested .interested-image .container-thumbnail .prev-img img,
.interested-section .interested .interested-image .container-thumbnail .next-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.interested-section .interested .interested-image .container-thumbnail .previous:hover .prev-img {
  opacity: 1;
}
.interested-section .interested .interested-image .container-thumbnail .next:hover .next-img {
  opacity: 1;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lightbox .lightbox_close {
  background: url(../assets/images/Vector.png) center center/22px 22px transparent no-repeat;
  position: absolute;
  text-indent: -9999px;
  overflow: hidden;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  border: none;
  color: white;
  cursor: pointer;
}
.lightbox .lightbox_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.lightbox .lightbox_container .lightbox_prev,
.lightbox .lightbox_container .lightbox_next {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 50px;
}
.lightbox .lightbox_container .lightbox_prev img,
.lightbox .lightbox_container .lightbox_next img {
  width: 107px;
  height: 18px;
}
.lightbox .lightbox_container .img-container {
  max-width: 100%;
  max-height: 100vh;
}
.lightbox .lightbox_container .img-container .lightbox_img {
  width: 100%;
  height: 95vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox .lightbox_container .img-container .lightbox_info {
  display: flex;
  color: white;
  text-align: center;
  justify-content: space-between;
}
.lightbox .lightbox_container .img-container .lightbox_info .lightbox_ref,
.lightbox .lightbox_container .img-container .lightbox_info .lightbox_cat {
  text-transform: uppercase;
}

.lightbox-scroll-lock {
  overflow: hidden;
}

.photo-overlay {
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.photo-overlay:hover {
  opacity: 1;
}
.photo-overlay .fullscreen-icon {
  position: absolute;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 11px;
  right: 18px;
  cursor: pointer;
}
.photo-overlay .fullscreen-icon .fullscreen-img {
  width: 100%;
  height: auto;
}
.photo-overlay .eye-a {
  position: absolute;
  margin: auto;
  width: 45px;
  height: 31px;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.photo-overlay .hover-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0;
  position: relative;
  height: 100%;
}
.photo-overlay .hover-info .hover-title, .photo-overlay .hover-info .hover-cat {
  color: white;
}
.photo-overlay .hover-info .hover-title {
  margin-left: 5%;
}
.photo-overlay .hover-info .hover-cat {
  margin-right: 5%;
}

.related-photo {
  display: flex;
}
.related-photo .relatedPhoto-container {
  position: relative;
  width: 50%;
  height: 500px;
  display: inline-block;
}
.related-photo .relatedPhoto-container:not(:last-child) {
  margin-right: 10px;
}
.related-photo .relatedPhoto-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */